body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

img {
    cursor: pointer;
}

.wrapper {
    display: flex;
}

#cat-list {
    background: #eee;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#cat-list li {
    padding: 10px 15px;
    cursor: pointer;
}

#display {
    flex: 1;
    text-align: center;
}

